html {
	margin-top: 50px;
	left: 50%;
}
table {
	font-size: 18px;
}
#dialog {
	width: 50%;
	height: 50%;
	display: none;
}
#dialogLang {
	display: none;
}
textarea {
	width: 98%;
	height: 90%;
}
.unicodeTest {
	display: none;
}
#unicodeTestResult {
	margin-top: 50px;
	font-size: 18px;
}