html {
	margin-top: 50px;
	left: 50%;
}
table {
	font-size: 18px;
	margin-bottom: 10px;
}
td {
	padding: 5px;
	width: 200px;
	border: 1px solid #0F0F0F;
}
#header {
	cursor: default;
}
#saveButton {
	font-size: 18px;
}
#dialogWhisper {
	display: none;
}
.default {
	background-color: #ddd;
}
#dialogLang {
	display: none;
	font-size: 18px;
}
.ui-dialog {
	width: 400px;
	height: 300px;
}
textarea {
	width: 98%;
	height: 90%;
}
.unicodeTest {
	display: none;
}
#unicodeTestResult {
	margin-top: 50px;
	font-size: 18px;
}